<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {{#each postD}}
        {{#each img}}
            <img src="http://localhost:3000/uploads/{{this}}" width="10%" > 
        {{/each}}
        {{/each}}<br>
    </div>
    <div>
    <table>
        <tr>
            <th>title</th>
            <th>size</th>
            <th>price</th>
            <th>servicesPrice</th>
            <th>address</th>
            <th>furniture</th>
            <th>convenience</th>
        </tr>
        {{#each postD}}
        <tr>
            <td>{{title}}</td>
            <td>{{size}}</td>
            <td>{{price}}</td>
            <td>{{servicesPrice}}</td>
            <td>{{address}}</td>
            <td>{{furniture}}</td>
            <td>{{convenience}}</td>
        {{/each}}
    </table>
    </div>
    <div>
        <textarea name="comment" placeholder="comment" cols="200" rows="10"></textarea>
    </div>
   
    <div>
        <div>{{Account.name}}:</div>
    </div>
</body>
</html>