<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
     {{> head}}
    <div class="bodypost">
        {{#each post}}
        <div class="post">
            <a href="/auth/detail/{{id}}">
                <div class="border-post"> 
                    <div class="title-post" >
                        <h1>{{title}}</h1>  
                    </div>
                    <div class="img">
                          {{#each img}}
                            <img src="http://localhost:3000/uploads/{{this}}" width="10%" > 
                        {{/each}}<br>
                    </div>
                    <div class="content-post">
                        price: {{price}}<br>
                        address: {{address}}<br>
                        convenience: {{convenience}}<br> 
                    </div>
                </div>
                </a>
        </div>
        {{/each}}
    </div>
</body>
</html>