<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
     {{> head}}
    <div class="bodypost">
        {{#each post}}
        <div class="post">
            <a href="/auth/detail/{{id}}">
                <div class="border-post"> 
                    <div class="title-post" >
                        <h1>{{title}}</h1>  
                    </div>
                    <div class="img">
                          {{#each img}}
                            <img src="http://localhost:3000/uploads/{{this}}" width="10%" > 
                        {{/each}}<br>
                    </div>
                    <div class="content-post">
                        price: {{price}}<br>
                        address: {{address}}<br>
                        convenience: {{convenience}}<br> 
                    </div>
                </div>
                </a>
        </div>
        {{/each}}
        <div class="options">
            <div class="op">Nhà</div>
            <div class="op">Căn hộ</div>
            <div class="op">Phòng trọ</div>
            <div class="op">Văn phòng</div>
            <div class="op">Mặt bằng</div>
        </div>
    </div>
    <div class="footer">
        
        <div>
            <div class="head-footer">
                Cho thuê nhà đất
            </div>
            <div>
            Cho thêu căn hộ
            <br>
            Cho thuê mặt bằng
            <br>
            Cho thuê nhà nguyên căn

            </div>
        </div>
        <div>
            <div class="head-footer">
                Đối tác - Thông tin
            </div>
            <div>
                Tin tức bất động sản
                <br>
                Muaban.net - Mua bán rao vặt
                <br>
                Tìm việc làm thêm nhanh
            </div >
        </div>
        <div>
            <div class="head-footer">Công cụ tiện ích</div>
            <div>
                Phòng trọ gần KCN
                <br>
                Phòng trọ gần trường
                <br>
                10 bước mua nhà
            </div>
        </div>
        <div>
            <div class="head-footer">Dịch vụ - Quảng cáo</div>
            <div>
                Chương trình khuyến mãi
                <br>
                Phí thành viên
                <br>
                Hướng dẫn đăng tin
            </div>
        </div>
    </div>
</body>
</html>