<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

   
    
</head>
<body>
     <div class="navtop">
        <a href="home">Home</a>
        <a href="/auth/login">login</a>
        <a href="/auth/register">register</a>
        <div class="search">
            <form >
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="bodypost">
        {{#each post}}
        <div class="post">
            
            <div class="border-post"> 
            <div class="title-post" >
                <h1>{{title}}</h1>
                
            </div>
            <div class="content-post">
                
                size: {{size}} <br>
                price: {{price}}<br>
                Services Price: <br> {{servicesPrice}}<br>
                address: {{address}}<br>
                furniture: {{furniture}}<br>
                convenience: {{convenience}}<br> 
            </div>
            </div>
        </div>
        {{/each}}
    </div>
    
    <style>
        head{
            background-color: rgb(3, 20, 20);
        }
        body{
            background-color: white;
            box-sizing: border-box;
            
        }
       
        
        .navtop{
            background-color: rgb(246, 252, 252);
            float: right;
            width: auto;
        }
        .search {
            float: right;
            padding: 14px 16px;
            font-size: 17px;
        }
        
         a{
            float: left;  
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            }
        a:hover {
            background-color: rgb(30, 44, 165);
            color: white;
        }
        a.active {
            color: white;
        }
        .bodypost{
            background-color:white;
            margin:  auto;
            align-items:center;
            width: 60%;
            padding-top: 100px;
            
        }
        .post{ 
            background-color:white;
            max-width: 1000px;
            padding: 34px;
 
        }
        .border-post{
            padding: 1px;
            background-color: rgb(243, 235, 235);
        }
        .title-post{
            background-color: white;
             padding: 14px 16px;
             font-size: 27px;
        }
        
        .content-post{
            background-color: white;
            font-size: 19px;
            padding: 10px;
            
           
        }
        
        
    </style>
</body>
</html>