{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/host/createPost"> create post</a>
    <table>
        <tr>
            
            <th>title</th>
            <th>size</th>
            <th>price</th>
            <th>services Price</th>
            <th>address</th>
            <th>furniture</th>
            <th>convenience</th>
            <th>img</th>
            <th></th>
            <th></th>
        </tr>
        {{#each post}}
        <tr>
            
            <td>{{title}}</td>
            <td>{{size}}</td>
            <td>{{price}}</td>
            <td>{{servicesPrice}}</td>
            <td>{{address}}</td>
            <td>{{furniture}}</td>
            <td>{{convenience}}</td>
            <td >
            {{#each img}}
                <img src="http://localhost:3000/uploads/{{this}}" width="10%" > 
            {{/each}}
                    
            </td>
            <td><a href="/host/updatePost/{{id}}">update</a></td>
            <td><a href="/host/deletePost/{{id}}" >delete</a></td>
        </tr>
        {{/each}}
    </table>
</body>
</html> --}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="http://localhost:3000/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="http://localhost:3000/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="http://localhost:3000/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="http://localhost:3000/assets/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="http://localhost:3000/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost:3000/assets/css/style.css" />
    <link rel="shortcut icon" href="http://localhost:3000/assets/images/favicon.png" />
  </head>
  <body>
     <a href="/host/createPost"><button class="btn btn-light">Tạo mới</button></a>
    <a href="/"><button class="btn btn-light">Quay lại trang chủ</button></a>
    <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Danh sách bài viết của bạn</h4>
                    </p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Address</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                             {{#each post}}
                          <tr>
                            <td>{{title}}</td>
                            <td>{{price}}</td>
                            <td>{{size}}</td>
                            <td>{{addressDetail}}</td>
                             <td>{{#each img}}
                                <img src="http://localhost:3000/uploads/{{this}}" width="10%" > 
                            {{/each}}</td>
                            <td>
                              <label class="badge badge-danger">Pending</label>
                            </td>
                             <th><a href="/host/createPost"><button class="btn btn-light">Edit</button></a>
                             <a href="/host/createPost"><button class="btn btn-light">Lock</button></a>
                             <a href="/host/createPost"><button class="btn btn-light">Delete</button></a>
                             </th>
                          </tr>
                          {{/each}}
                          {{!-- <tr>
                            <td>Messsy</td>
                            <td>53275532</td>
                            <td>15 May 2017</td>
                            <td>
                              <label class="badge badge-warning">In progress</label>
                            </td>
                          </tr>
                          <tr>
                            <td>John</td>
                            <td>53275533</td>
                            <td>14 May 2017</td>
                            <td>
                              <label class="badge badge-info">Fixed</label>
                            </td>
                          </tr>
                          <tr>
                            <td>Peter</td>
                            <td>53275534</td>
                            <td>16 May 2017</td>
                            <td>
                              <label class="badge badge-success">Completed</label>
                            </td>
                          </tr>
                          <tr>
                            <td>Dave</td>
                            <td>53275535</td>
                            <td>20 May 2017</td>
                            <td>
                              <label class="badge badge-warning">In progress</label>
                            </td>
                          </tr> --}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</div>
<!-- Template Javascript -->
    <script src="http://localhost:3000/js/main.js"></script>
    <script src="http://localhost:3000/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="http://localhost:3000/assets/vendors/select2/select2.min.js"></script>
    <script src="http://localhost:3000/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="http://localhost:3000/assets/js/off-canvas.js"></script>
    <script src="http://localhost:3000/assets/js/hoverable-collapse.js"></script>
    <script src="http://localhost:3000/assets/js/misc.js"></script>
    <script src="http://localhost:3000/assets/js/file-upload.js"></script>
    <script src="http://localhost:3000/assets/js/typeahead.js"></script>
    <script src="http://localhost:3000/assets/js/select2.js"></script>
  </body>
</html>